# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.dist/
.build/
.venv/
.venv-modelmaker/
.venv-modelmaker-py39/
.env
.pytest_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Data / outputs
data/
!src/owli_train/data/
!src/owli_train/data/**
src/owli_train/data/__pycache__/
src/owli_train/data/*.py[cod]
work/
outputs/
*.sqlite
*.db
*.db-wal
*.db-shm
!tests/data/
!tests/data/**

# Large artifacts
*.npy
*.npz
*.pt
*.pth
*.onnx

# My
tmp/
TMP/
.tmp/
**/tmp/**
**/TMP/**
tags.txt
